:root {
	--background-opacity: 0.9;
	--main-bg-color: aliceblue;
	--app-secondary-color: #2c387e;
	--app-light-color: aliceblue;
	--app-dark-color: black;
	--app-transparent-color: rgba(0, 0, 0, 0);
	/* --app-card-color: ; */
	--form-error-color: red;
  --app-chart-color: #fff;
}

.app-pages {
  margin: 4rem;
}

/* .App {
  background-color: var(--main-bg-color);
} */

.page-container {
  display: flex;
  min-height: calc(100vh - 100px);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--app-dark-color);
}

li {
  list-style: none;
}
